.wrapper {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px dashed #fff;
    top: 0%;
    position: fixed;
    background-color: #000;
    z-index: 2;
}

.wrapperLeftDesktop {
    display: flex;
    align-items: center;
}

.wrapperLeftMobile {
    display: none;
    padding-top: 1px;
}

.button {
    border-radius: 0px;
    border: 0;
    border: 2px solid grey;
    box-shadow: none;
    border-radius: 5px;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    height: 2.5rem;
    letter-spacing: 0.2rem;
    line-height: 1.7rem;
    outline: 0;
    padding: 0 1.25rem 0 1.35rem;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
}

.button:hover {
    border-color: #ffff32;
    color: #ffff32 !important;
}

.logo {
    margin-top: 1px;
    margin-right: 30px;
    cursor: pointer;
    width: 120px;
    height: 120px;
}

.txtMenu {
    font-weight: bold;
    font-size:xx-large;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 40px;
    text-transform: uppercase;
}

.txtMenuActive {
    font-weight: bold;
    font-size:xx-large;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}

.btnDesktop {
    display: contents;
}

.burger {
    display: none;
}

@media only screen and (max-width: 700px) {
    .wrapper {
        align-items: flex-start;
    }
    .wrapperLeftDesktop {
        display: none;
    }
    .wrapperLeftMobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .button {
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .btnDesktop {
        display: none;
    }

    .burger {
        display: flex;
        margin-top: 50px;
        cursor: pointer;
    }
}
