@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
$font-anonymous-pro: 'Anonymous Pro', monospace;

.launch {
    color: #dbe4eb;
    text-transform: none;
    font-size: 14px;
    border: 1px solid #dbe4eb; //ffffff2e;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 4px;
    background: linear-gradient(to right, black, #333333);
}

.launch:hover {
    border: 1px solid #ffff32;
    cursor: pointer;
    color: #ffff32;
}

.title {
    font-family: $font-anonymous-pro;
    font-size: 22px;
    font-weight: 700;
    text-transform: none;
    padding-top: 4%;
    padding-bottom: 4%;
    color: #dbe4eb;
    @media only screen and (min-width: 576px) and (max-width: 900px) {
        font-size: 29px;
    }
    @media only screen and (min-width: 900px) and (max-width: 1100px) {
        font-size: 38px;
    }
    @media only screen and (min-width: 1100px) and (max-width: 1400px) {
        font-size: 47px;
    }
    @media only screen and (min-width: 1400px) {
        font-size: 56px;
    }
}

.subtitle {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.11rem;
    @media only screen and (min-width: 576px) and (max-width: 900px) {
        font-size: 14px;
    }
    @media only screen and (min-width: 900px) and (max-width: 1100px) {
        font-size: 17px;
    }
    @media only screen and (min-width: 1100px) and (max-width: 1400px) {
        font-size: 19px;
    }
    @media only screen and (min-width: 1400px) {
        font-size: 22px;
    }
}
