.wrapper {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.kvmeFelen {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74%;
    @media only screen and (max-width: 576px) {
        width: 83%;
    }
}

.wrapperSectionIco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7%;
    @media only screen and (max-width: 576px) {
        flex-direction: column;
    }
}
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 222px;
    align-items: center;
}
.subsection {
    width: 74%;
    display: flex;
    flex-direction: row;
    margin-bottom: 222px;
    @media only screen and (min-width: 900px) and (max-width: 1100px) {
        width: 83%;
    }
    @media only screen and (min-width: 576px) and (max-width: 900px) {
        flex-direction: column;
    }
    @media only screen and (max-width: 576px) {
        width: 92%;
    }
}
.subtitle {
    width: 100%;
    padding-top: 22px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 22px;
    font-weight: bold;
    font-size: x-large;
    color: #dbe4eb;
    text-align: center;

    @media only screen and (max-width: 900px) {
        font-size: large;
        padding-bottom: 22px;
    }

    position: relative;

    /* Estilos para la capa de degradado */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            135deg,
            black,
            #333333,
            #dbe4eb,
            #ffff32,
            black,
            #ffffff2e
        );
        opacity: 0.5;
        /* Ajusta la opacidad según sea necesario */
        z-index: -1;
        /* Coloca la capa detrás del texto */
    }
}

.imgIcon {
    margin-bottom: 22px;
    width: 222px;
    height: 222px;

    @media only screen and (max-width: 576px) {
        width: 111px;
        height: 111px;
    }
    @media only screen and (min-width: 576px) and (max-width: 1100px) {
        width: 182px;
        height: 182px;
    }
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgScreenCapWrapper {
    display: flex;
    justify-content: center;
}

.imgScreenCap {
    width: 222px;
    height: auto;
    @media only screen and (max-width: 576px) {
        width: 111px;
    }
    @media only screen and (min-width: 576px) and (max-width: 1100px) {
        width: 182px;
    }
}

@media only screen and (max-width: 1100px) {
    .imgScreenCapWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.sectionDesc {
    width: 70%;
    border: 1px solid #dbe4eb;
    border-radius: 4px;
    padding: 2rem;
    @media only screen and (max-width: 576px) {
        width: 92%;
        padding: 1rem;
    }

    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            45deg,
            black,
            #333333,
            #dbe4eb,
            #333333,
            black
        );
        opacity: 0.5;
        /* Ajusta la opacidad según sea necesario */
        z-index: -1;
        /* Coloca la capa detrás del texto */
    }
}
